<h1 class="col-md-8 offset-md-1 col-sm-8 offset-sm-2 col-xs-12">Library Catalogue</h1>


<div class=container-fluid>
    <div class="col-md-8 offset-md-1 col-sm-8 offset-sm-2 col-xs-12">

        <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
              <div class="row">Enter the following keywords to search.</div>
          
              <div class="row mt-3">Title:
                  <input for="title" type="text" name="title" ngModel required>
              </div>
             
              <div class="row mt-2">Author:
                  <input for="author"  type="text" name="author" ngModel>
              </div>
              
              <div class="row mt-4">
                 <button type="submit">Search</button>
                  <!--<button type="submit" [disabled]="!formValidFlag">Search 2</button>-->
                  <!--<button type="submit" [disabled]="!searchForm.form.valid">Search</button>-->
              
                  
              </div>
          </form>
          
          <ol>
              <!--<li *ngFor="let m of movieListTen" (click)="onSelect(m)" [class.selected]="m==movieSelected">-->
                <li *ngFor="let b of bookList" (click)="onSelect(b)">
                    <!--<li *ngFor="let b of bookListDisplayMax10" (click)="onSelect(b)"> -->
                {{b.title}}, <span style="color:blue">{{b.author_firstname}} {{b.author_lastname}}</span>
                <!--<img src = {{b.cover_thumbnail}}> {{b.title}}, <span style="color:blue">{{b.author_firstname}} {{b.author_lastname}}</span>-->
                <!--<img src = "pear.jpg"> {{b.title}}, <span style="color:blue">{{b.author_firstname}} {{b.author_lastname}}</span>-->
              </li>
          </ol>
      
    </div>




   


</div>


<!--
<div style="padding: 3px; border: 3px blue;">
  
  <router-outlet></router-outlet>
  
</div>
-->